.container
    .container-fixed
        .clients
            img(src=require('./../../img/client_1.png'))
            img(src=require('./../../img/client_2.png'))
            img(src=require('./../../img/client_3.png'))
            img(src=require('./../../img/client_4.png'))
            img(src=require('./../../img/client_5.png'))
